body{
    background-color: rgba(172, 202, 241, 0.527);

}

h1{
    text-align: center;
    text-shadow: rgb(160, 161, 161) 4px 4px 3px;
}

header{
    background-color: rgba(171, 177, 185, 0.61);
}
.foto{
    width: 2.5cm;
    float: left;
    margin: 15px;
  padding: 15px;
}

h2{
    color: rgb(66, 66, 133);
    text-align: center;
    font-size: 9mm;
}

hr{
    border: 2px solid rgb(197, 197, 233);
}

section{
    background-color: rgba(197, 209, 226, 0.61);
    
}

.presentacion{
   margin: 20px; 
}

.enlaces{
    text-align: center;
    text-shadow: rgb(160, 161, 161) 4px 4px 3px;
}

.anyo{
color: rgb(155, 109, 155);   
font-size: 6mm;
}

.premios{
    background-color: rgba(157, 135, 170, 0.274);
    border: rgb(213, 169, 255) 2px dashed;
}

.ent{
   
    border: rgb(200, 199, 201) 2px dashed;
}
.entrevista{
    font-size: 6mm;
}